.chat-main
  .main-header
    .main-header__left-box
      %h2{class: "main-header__left-box__current-group", data: {group_id: "#"}}
        = @group.name
      %ul.main-header__left-box__member-list
        Member：
        %li.main-header__left-box__member-list__member
          - @group.group_users.each do |group_user|
            = group_user.user.name
    = link_to 'Edit', "/groups/#{@group.id}/edit", method: :get, class: "main-header__edit-btn"

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'